# Git
.git
.gitignore

# Node
node_modules
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# Env
*.env
*.env.*

# SvelteKit/Vite
apps/frontend/.svelte-kit
apps/frontend/.wrangler
apps/frontend/vite.config.ts.timestamp-*

# IDE
.vscode