node_modules
apps/admin-dashboard/node_modules
apps/cron-jobs/node_modules
apps/frontend/node_modules

# Output
apps/frontend/.svelte-kit
apps/frontend/build
apps/admin-dashboard/.svelte-kit
apps/admin-dashboard/build

# OS
.DS_Store
Thumbs.db

# Env
*.env
*.env.*

# Vite
apps/frontend/vite.config.js.timestamp-*
apps/frontend/vite.config.ts.timestamp-*
apps/admin-dashboard/vite.config.js.timestamp-*
apps/admin-dashboard/vite.config.ts.timestamp-*
