node_modules
apps/frontend/node_modules
apps/cron-triggers/node_modules
packages/redis/client/node_modules

# Output
apps/frontend/.wrangler
apps/frontend/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
*.env
*.env.*

# Vite
apps/frontend/vite.config.js.timestamp-*
apps/frontend/vite.config.ts.timestamp-*

